 <div class="user-details">
  <h1> Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Workshops</h2>
      <!--<i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>-->
      <p>Our Workshops are designed to be fully Interactive and Introduce the participants 
       to the latest tools and methodologies through practical, applicable course content and hands-on exercises.</p>
    </div>
    <div class="tech">
      <h2>Trainings</h2>
      <!--<i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>-->
      <p>Hacker Wagon is committed to provide quality trainings to Corporates looking to train their empoyees and college students looking to carve out
       career in the ever growing field of Cybersecurity.</p>
    </div>
    <div class="tech">
      <h2>Bootcamps</h2>
      <!--<i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>-->
      <p>The gurukul styled bootcamps are aimed at providing a wholesome learning to its participants and is a 3 months 
       residential program organized in collaborations with co-working/co-living spaces in the most beautiful and relaxing 
       locations across the world.</p>
    </div>
</div>
