<!--<script type="text/javascript">var submitted=false;</script>
<div class="user-details">
  <h1> Contact Us </h1>
  <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will get back to you within
  a matter of hours to help you.</p>
<br>
</div>
  <div class="contents">
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='https://hackerwagon.com';}"></iframe>

    <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSf45UsqkVfmAMvS0oeS1SF6a3MxJwAyBRG-LXQN91WEF0qXfA/formResponse" method="post" target="hidden_iframe"
    onsubmit="submitted=true;">
          <label>Name</label>
          <input name="entry.2054941332" type="text" placeholder="Name" />
          <br>
          <label>Company</label>
          <input name="entry.1554303368" type="text" placeholder="Company"/>
          <br>
          <label>Email</label>
          <input name="emailAddress" type="email" placeholder="Email"/>
          <br>
          <label>Message</label>
          <input name="entry.157856658" type="text" placeholder="Message"/>
          <br>
          <input type="submit" value="Send" />

    </form>
   </div>
-->
<form>
<ul class="form-style-1">
    <li><label>Full Name <span class="required">*</span></label><input type="text" name="entry.2054941332" class="field-divided" placeholder="Name" />
    <li>
        <label>Email <span class="required">*</span></label>
        <input type="email" name="emailAddress" class="field-long" />
    </li>
    <li>
        <label>Company <span class="required">*</span></label>
        <input type="text" name="entry.1554303368" class="field-long" />
    </li>
    <li
        <label>Your Message <span class="required">*</span></label>
        <textarea name="entry.157856658" id="field4" class="field-long field-textarea"></textarea>
    </li>
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form>
